<h1 style="text-align: center;">This is Angular Application</h1>
<hr />
<div class="info">
  <a routerLink="test1">Test Page-1</a>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="test2">Test Page-2</a>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="reginfo">Register</a>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="login">Student Info</a>
</div>
<hr />
<div style="width: 100%;">
  <router-outlet></router-outlet>
</div>

<!--
<hr />
<app-register></app-register>
<hr />
<table width="100%">
  <tr>
    <td width="50%">
      <app-test></app-test>
    </td>
    <td width="50%">
      <app-test2></app-test2>
    </td>
  </tr>
</table>
-->