<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<display-name>AddStudent</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.AddStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewStudents</servlet-name>
  	<display-name>ViewStudents</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.ViewStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchStd</servlet-name>
  	<display-name>SearchStd</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.SearchStd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStd</servlet-name>
  	<display-name>DeleteStd</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.DeleteStd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStd</servlet-name>
  	<display-name>UpdateStd</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.UpdateStd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyStd</servlet-name>
  	<display-name>ModifyStd</display-name>
  	<description></description>
  	<servlet-class>com.servlets.apps.ModifyStd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewStudents</servlet-name>
  	<url-pattern>/ViewStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchStd</servlet-name>
  	<url-pattern>/SearchStd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStd</servlet-name>
  	<url-pattern>/DeleteStd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStd</servlet-name>
  	<url-pattern>/UpdateStd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyStd</servlet-name>
  	<url-pattern>/ModifyStd</url-pattern>
  </servlet-mapping>
</web-app>
