
<!--Home Navbar-->
<div *ngIf="homeNav">
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">About US</a>
            </li>        
          </ul>
        </div>
      </div>
    </nav>
</div>

<!--User Navbar-->
<div *ngIf="userNav">
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/welcome">User Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/empreg">Add New Employee</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allempinfo">View All Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Logout</a>
            </li>        
          </ul>
        </div>
      </div>
    </nav>
</div>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
