<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <b>Employee Information</b>
                    </div>
                    <div class="col-md-3">
                
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Emp No</th>
                        <th>Emp Name</th>
                        <th>Emp Job</th>
                        <th>Emp Salary</th>
                    </tr>
                    <tr>
                        <td>{{emp.id}}</td>
                        <td>{{emp.ename}}</td>
                        <td>{{emp.job}}</td>
                        <td>{{emp.salary}}</td>
                    </tr>
                    <br />
                    <tr>
                        <td colspan="4">
                            <a routerLink="/allempinfo" class="btn btn-primary btn-sm">Emp List</a>
                            &nbsp;&nbsp;&nbsp;
                            <input type="button" class="btn btn-danger btn-sm"  value="Delete" (click)="deleteEmp(emp.id)" />
                            &nbsp;&nbsp;&nbsp;
                            <input type="button" class="btn btn-success btn-sm"  value="Modify" (click)="getModEmp(emp.id)" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>